<div class="episodes-table">
    <p-table [value]="episodes" [paginator]="true" [lazy]="true" [rows]="pageSize" [totalRecords]="totalHits"
        (onLazyLoad)="loadLazy($event)" [responsive]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input #search pInputText class="p-inputtext-sm" type="text"
                        placeholder="{{'SearchKeyword' | translate | uppercase}}" />
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th>{{'EpisodeTitle' | translate | uppercase}}</th>
                <th>{{'Date' | translate | uppercase}}</th>
                <th>{{'Description' | translate | uppercase}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-episode>
            <tr>
                <td>
                    <div class="p-grid">
                        <div class="p-col-4">
                            <b>
                                {{episode.title}}
                            </b>
                            <div *ngIf="episode.channelName">
                                {{'Channel' | translate}}: {{episode.channelName}}
                            </div>
                            <div *ngIf="episode?.program?.name">
                                {{'Program' | translate}}: {{episode.program.name}}
                            </div>
                        </div>
                        <div class="p-col-8" style="float:right">
                            <div class="p-grid p-flex-column">
                                <div class="p-col clickable" *ngIf="hasSound(episode)" (click)="onPlayEpisode(episode)">
                                    <i
                                        [ngClass]="isCurrentlyPlaying(episode) ? 'pi pi-spin pi-replay play-button': 'pi pi-caret-right play-button'"></i>
                                </div>
                                <div class="p-col clickable" (click)="onOpenDetails(episode)">
                                    <i class="pi pi-ellipsis-h details-button"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    {{episode?.publishdateutcDate | date:'medium' }}
                </td>
                <td>
                    {{episode.description}}
                </td>
            </tr>
        </ng-template>
    </p-table>