<div class="episodes-table">
    <p-table [value]="episodes" [paginator]="true" [lazy]="true" [rows]="pageSize" [totalRecords]="totalHits"
        (onLazyLoad)="loadLazy($event)" responsiveLayout="stack">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input #search pInputText class="p-inputtext-sm" type="text"
                        placeholder="{{'SearchKeyword' | translate | uppercase}}" />
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th>{{'EpisodeTitle' | translate | uppercase}}</th>
                <th>{{'Date' | translate | uppercase}}</th>
                <th>{{'Description' | translate | uppercase}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-episode>
            <tr>
                <td>
                    <div class="p-grid" style="width:100%">
                        <span (click)="onOpenDetails(episode)" class="clickable p-col-8">
                            <span class="ep-title">
                                <b>
                                    {{episode.title}}
                                </b>
                            </span>
                            <span *ngIf="episode.channelName">
                                {{'Channel' | translate}}: {{episode.channelName}}
                            </span>
                            <span *ngIf="showProgramName && episode.programName">
                                {{'Program' | translate}}: {{episode.programName}}
                            </span>
                        </span>
                        <span class="p-col-4" style="float:right">
                            <span class="p-grid p-flex-column">
                                <span class="p-col clickable" *ngIf="episode.hasSound()"
                                    (click)="onPlayEpisode(episode)">
                                    <i
                                        [ngClass]="isCurrentlyPlaying(episode) ? 'pi pi-pause play-button': 'pi pi-play play-button'"></i>
                                </span>
                                <span class="p-col clickable" (click)="onOpenDetails(episode)">
                                    <i class="pi pi-ellipsis-h details-button"></i>
                                </span>
                                <span *ngIf="!isBookmarked(episode.id)" class="clickable"
                                    (click)="onAddToBookmarks(episode.id)"><i class="pi pi-bookmark fav-but"></i>
                                </span>
                                <span *ngIf="isBookmarked(episode.id)" class="clickable"
                                    (click)="onRemoveFromBookmarks(episode.id)">
                                    <i class="pi pi-bookmark-fill yellow-fav fav-but"></i>
                                </span>
                            </span>
                        </span>
                    </div>
                </td>
                <td>
                    {{episode?.publishDate | date:'medium' }}
                </td>
                <td class="desc-col">
                    <div class="ep-desc">
                        {{episode.description}}
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>