<p-sidebar *ngIf="episode" [(visible)]="isVisible" position="right" styleClass="sr-sidebar" [blockScroll]="true"
    [showCloseIcon]="false">

    <div class="details-header-text">
        <i (click)="close()" class="pi pi-chevron-left close-button clickable"></i>
        {{episode?.program?.name}}: {{episode.title}}
    </div>
    <hr>
    <div>
        <div>
            <b>{{episode.title}}</b>
            <i *ngIf="hasSound(episode)" (click)="onPlayEpisode(episode)"
                class="pi pi-caret-right play-button clickable"></i>
        </div>
        <div>
            <img src={{episode.imageurl}} width="100" class="episodes-img" />
            <p>
                {{episode.description}}
            </p>
        </div>
        <div *ngIf="episode.publishdateutcDate" class="clear">
            <b>Time: </b>{{episode.publishdateutcDate | date:'medium'}}
        </div>
    </div>
    <hr class="clear">
    <div *ngIf="songs && songs.length > 0">
        <h2>{{'Songlist' | translate}}:</h2>
        <div *ngFor="let song of songs">
            <app-song [song]="song"></app-song>
            <hr>
        </div>
    </div>
</p-sidebar>