<p-sidebar *ngIf="episode" [(visible)]="isVisible" position="right" styleClass="my-sidebar" [blockScroll]="true"
    [showCloseIcon]="false">

    <div class="details-header-text">
        <i (click)="close()" class="pi pi-chevron-left close-button clickable"></i>
        {{episode?.program?.name}}: {{episode.title}}
    </div>
    <hr>
    <div>
        <div>
            <b>{{episode.title}}</b>
            <i *ngIf="hasSound(episode)" (click)="onPlayEpisode(episode)"
                class="pi pi-volume-up play-button clickable"></i>
        </div>
        <div>
            {{episode.description}}
        </div>
        <div *ngIf="episode.publishdateutcDate">
            <b>Time: </b>{{episode.publishdateutcDate | date:'medium'}}
        </div>
    </div>
    <hr>
    <div *ngIf="songs && songs.length > 0">
        <h2>Song list:</h2>
        <div *ngFor="let song of songs">
            <app-song [song]="song"></app-song>
            <hr>
        </div>
    </div>
</p-sidebar>