<div *ngIf="episode">
    <h3>{{header | translate }}</h3>
    <div>
        <div class="clickable" (click)="onOpenDetails(episode.episodeid)">
            <div *ngIf="episode.episodeid">
                <i class="pi pi-ellipsis-h details-button details-button-smaller"></i>
            </div>
            <b>{{'Title' | translate}}</b>: {{episode?.title}}
        </div>
    </div>
    <div>
        <div>
            <b>{{'Desc.' | translate}}</b>: {{episode?.description}}
        </div>
    </div>
    <div>
        <div>
            <b>{{'Start' | translate}}</b>: {{episode?.starttimeDate | date:'medium'}}
        </div>
    </div>
</div>