<div *ngIf="episode">
    <div>
        <div>
            <div *ngIf="episode.episodeid" (click)="onOpenDetails(episode.episodeid)">
                <i class="pi pi-chevron-right details-button details-button-smaller"></i>
            </div>
            <b>Title</b>: {{episode?.title}}
        </div>
    </div>
    <div>
        <div>
            <b>Desc</b>: {{episode?.description}}
        </div>
    </div>
    <div>
        <div>
            <b>Start time</b>: {{episode?.starttimeDate | date:'medium'}}
        </div>
    </div>
</div>