<app-channel-details></app-channel-details>
<app-channel-schedule></app-channel-schedule>
<app-episode-details></app-episode-details>

<div id="channelslist" class="channels-list">
    <p-table #dt [value]="channels" [lazy]="false" [responsive]="true" [globalFilterFields]="['name','tagline']"
        styleClass="sr-table">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText class="p-inputtext-sm kw-input" type="text"
                        (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="{{'SearchKeyword' | translate | uppercase}}" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">{{'ChannelNameTitle' | translate | uppercase}}<p-sortIcon field="name">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="channeltype">{{'ChannelTypeTitle' | translate | uppercase}}<p-sortIcon
                        field="channeltype">
                    </p-sortIcon>
                </th>

                <th>{{'ChannelTaglineTitle' | translate | uppercase}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-channel>
            <tr>
                <td>
                    <div class="p-grid">
                        <div class="p-col-4">
                            <img src={{channel.image}} width="30" style="vertical-align:middle" />
                            {{channel.name}}
                        </div>
                        <div class="p-col-8" style="float:right">
                            <div class="clickable" (click)="onOpenDetails(channel)"><i
                                    class="pi pi-ellipsis-h details-button"></i>
                            </div>
                            <div class="clickable" (click)="onOpenSchedule(channel)"><i
                                    class="pi pi-list details-button"></i>
                            </div>
                            <div (click)="onPlayChannel(channel)" class="clickable">
                                <i
                                    [ngClass]="isCurrentlyPlaying(channel?.liveaudio?.url) ? 'pi pi-spin pi-replay play-button' : 'pi pi-caret-right play-button'">
                                </i>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="channel-type">
                    {{channel.channeltype}}
                </td>
                <td class="channel-tag-line">
                    {{channel.tagline}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>