<p-sidebar *ngIf="channel" [(visible)]="isVisible" position="right" styleClass="sr-sidebar" [blockScroll]="true"
    [showCloseIcon]="false">

    <div class="details-header-text">
        <i (click)="close()" class="pi pi-chevron-left close-button clickable"></i>
        <img src={{channel.image}} width="30" style="vertical-align:middle" /> {{'ChannelDetails' | translate}}
    </div>
    <hr>
    {{channel.name}}
    <span (click)="onPlayChannel(channel)" class="clickable">
        <i
            [ngClass]="isCurrentlyPlaying(channel?.liveaudio?.url) ? 'pi pi-spin pi-replay play-button' : 'pi pi-caret-right play-button'">
        </i>
    </span>
    <div>
        {{channel.tagline}}
    </div>
    <hr>
    <div *ngIf="rightNowEpisodes">
        <app-rightnow-episodes [previousEpisode]="rightNowEpisodes?.channel?.previousscheduledepisode"
            [currentEpisode]="rightNowEpisodes?.channel?.currentscheduledepisode"
            [nextEpisode]="rightNowEpisodes?.channel?.nextscheduledepisode">
        </app-rightnow-episodes>
    </div>
    <hr>
    <div>
        <h2>{{'CurrentPlaylist' | translate}}:</h2>
        <div *ngIf="playlist?.song">
            <h3>{{'CurrentSong' | translate}}</h3>
            <app-song [song]="playlist.song"></app-song>
        </div>
        <div *ngIf="playlist?.nextsong">
            <h3>{{'NextSong' | translate}}</h3>
            <app-song [song]="playlist.nextsong"></app-song>
        </div>
        <div *ngIf="playlist?.previoussong">
            <h3>{{'PreviousSong' | translate}}</h3>
            <app-song [song]="playlist.previoussong"></app-song>
        </div>
    </div>
</p-sidebar>