<div *ngIf="channel">
    <div *ngIf="channel" class="details-header-text">
        <i (click)="close()" class="pi pi-chevron-left close-button clickable"></i>
        <img src={{channel.image}} width="50" style="vertical-align:middle" /> {{'ProgramScheduleForToday' |
        translate}}: {{channel.name}}
    </div>
    <hr>
    <p-table [value]="scheduledEpisodes" responsiveLayout="stack">
        <ng-template pTemplate="header">
            <tr>
                <th>{{'Name' | translate | uppercase}}</th>
                <th>{{'Starts' | translate | uppercase}}</th>
                <th>{{'Description' | translate | uppercase}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-episode>
            <tr class="clickable" (click)="onOpenDetails(episode.episodeid)">
                <td>
                    <b>{{episode.title}}</b>
                    <div *ngIf="episode.episodeid">
                        <i class="pi pi-info-circle details-button"></i>
                    </div>
                </td>
                <td>
                    {{episode.starttimeDate | date:'medium'}}
                </td>
                <td class="desc-col">
                    {{episode.description}}
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div class="bottom-padding"></div>
</div>