<p-sidebar *ngIf="channel" [(visible)]="isVisible" position="right" styleClass="my-sidebar" [blockScroll]="true"
    [showCloseIcon]="false">

    <div class="details-header-text">
        <i (click)="close()" class="pi pi-chevron-left close-button clickable"></i>
        <img src={{channel.image}} width="30" style="vertical-align:middle" /> Channel details
    </div>
    <hr>
    <div *ngIf="channel">
        <span>
            {{channel.name}}
            <i (click)="onPlayChannel(channel)" *ngIf="channel?.liveaudio?.url"
                class="pi pi-volume-up play-button clickable"></i>
        </span>
        <div>
            {{channel.tagline}}
        </div>
    </div>
    <hr>
    <div *ngIf="rightNowEpisodes">
        <app-rightnow-episodes [previousEpisode]="rightNowEpisodes?.channel?.previousscheduledepisode"
            [currentEpisode]="rightNowEpisodes?.channel?.currentscheduledepisode"
            [nextEpisode]="rightNowEpisodes?.channel?.nextscheduledepisode">
        </app-rightnow-episodes>
    </div>
    <hr>
    <div>
        <h2>Current playlist:</h2>
        <div *ngIf="playlist?.previoussong">
            <h3>Previous song</h3>
            <app-song [song]="playlist.previoussong"></app-song>
        </div>
        <div *ngIf="playlist?.song">
            <h3>Current song</h3>
            <app-song [song]="playlist.song"></app-song>
        </div>
        <div *ngIf="playlist?.nextsong">
            <h3>Next song</h3>
            <app-song [song]="playlist.nextsong"></app-song>
        </div>
    </div>
</p-sidebar>