<app-channel-details></app-channel-details>
<app-channel-schedule></app-channel-schedule>
<app-episode-details></app-episode-details>

<div id="channelslist" class="channels-list">
    <p-table #dt [value]="channels" [lazy]="false" [responsive]="true" [globalFilterFields]="['name','tagline']"
        styleClass="sr-table">
        <ng-template pTemplate="caption">
            <div class="p-d-flex caption-bar">
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText class="p-inputtext-sm kw-input" type="text"
                        (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="{{'SearchKeyword' | translate | uppercase}}" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">{{'ChannelNameTitle' | translate | uppercase}}<p-sortIcon field="name">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="channeltype">{{'ChannelTypeTitle' | translate | uppercase}}<p-sortIcon
                        field="channeltype">
                    </p-sortIcon>
                </th>

                <th>{{'ChannelTaglineTitle' | translate | uppercase}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-channel>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                                <img src={{channel.image}} width="30" style="vertical-align:middle" />
                                <span>
                                    {{channel.name}}
                                </span>
                            </td>
                            <td>
                                <span>
                                    <span class="clickable" (click)="onOpenDetails(channel)"><i
                                            class="pi pi-ellipsis-h details-button"></i>
                                    </span>
                                    <span class="clickable" (click)="onOpenSchedule(channel)"><i
                                            class="pi pi-list details-button"></i>
                                    </span>
                                    <span (click)="onPlayChannel(channel)" class="clickable">
                                        <i *ngIf="channel?.liveaudio?.url && isCurrentlyPlaying(channel?.liveaudio?.url)"
                                            class="pi pi-spin pi-replay play-button"></i>
                                        <i *ngIf="channel?.liveaudio?.url && !isCurrentlyPlaying(channel?.liveaudio?.url)"
                                            class="pi pi-caret-right play-button"></i>
                                    </span>
                                </span>
                            </td>
                        </tr>
                    </table>
                </td>
                <td class="channel-type">
                    {{channel.channeltype}}
                </td>
                <td class="channel-tag-line">
                    {{channel.tagline}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>