<div>
    <div *ngIf="channel" class="details-header-text">
        <i (click)="close()" class="pi pi-chevron-left close-button clickable"></i>
        <img class="image-thumb" src={{channel.image}} /> {{'ProgramScheduleForToday' |
        translate}}: {{channel.name}}
    </div>
    <div>
        <span>
            <p-checkbox (onChange)="onFilterShowOnlyCurrentAndFutureClicked($event, dt3)" [(ngModel)]="localState.showPrevious"
                [binary]="true" label="{{'Visa tidigare' | translate }}" class="onlycurrentandfuture-chk"></p-checkbox>
        </span>    
    </div>
    <hr>
    <p-table #dt3 [value]="scheduledEpisodes" responsiveLayout="stack">
        <ng-template pTemplate="header">
            <tr>
                <th class="min-title-column">{{'Name' | translate | uppercase}}</th>
                <th>{{'Starts' | translate | uppercase}}</th>
                <th>{{'Description' | translate | uppercase}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-episode>
            <tr>
                <td class="min-title-column">
                    <div class="p-grid" style="width:100%">
                        <img class="image-thumb" src={{episode.imageurl}} />
                        <b class="clickable" (click)="onOpenProgramDetails(episode.program.id)">{{episode.title}}</b>
                        <div *ngIf="episode.episodeid" class="right clickable" (click)="onOpenDetails(episode.episodeid)">
                            <i class="pi pi-info-circle details-btn"></i>
                        </div>
                        <div *ngIf="!episode.episodeid" class="right clickable">
                            
                        </div>
                    </div>
                </td>
                <td class="schedule-time">
                    {{episode.starttimeDate | date:'HH:mm'}}
                </td>
                <td class="desc-col">
                    {{episode.description}}
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div class="bottom-padding"></div>
</div>