<div>
    <label>Select a program for which episodes should be fetched</label>
</div>
<p-dropdown [options]="programOptions" [(ngModel)]="selectedProgram" (onChange)="onProgramChanged($event)"
    [filter]="true" placeholder="Select a program">
    <ng-template let-program pTemplate="item">
        <div>
            <span *ngIf="program?.fav">
                {{program.label}}
                <i class="pi pi-star yellow"></i>
                <span class="clickable" (click)="onRemoveFromFavorites(program.value)"><i
                        class="pi pi-star-o fav-but"></i>
                </span>
            </span>
            <span *ngIf="!program?.fav">
                {{program.label}}
                <span class="clickable" (click)="onAddToFavorites(program.value)"><i class="pi pi-star fav-but"></i>
                </span>
            </span>
        </div>
    </ng-template>
</p-dropdown>