<div *ngIf="song">
    <div>
        <div>
            <b>Title</b>: {{song?.title}}
        </div>
    </div>
    <div>
        <div>
            <b>Artist</b>: {{song?.artist}}
        </div>
    </div>
    <div>
        <div>
            <b>Album</b>: {{song?.albumname}}
        </div>
    </div>
    <div>
        <div>
            <b>Start time (UTC)</b>: {{song?.starttimeutcDate | date:'medium'}}
        </div>
    </div>
    <div>
        <div>
            <b>Stop time (UTC)</b>: {{song?.stoptimeutcDate | date:'medium'}}
        </div>
    </div>
</div>