<div *ngIf="song">
    <div>
        <div>
            <b>{{'Title' | translate}}</b>: {{song?.title}}
        </div>
    </div>
    <div>
        <div>
            <b>{{'Artist' | translate}}</b>: {{song?.artist}}
        </div>
    </div>
    <div>
        <div>
            <b>{{'Album' | translate}}</b>: {{song?.albumname}}
        </div>
    </div>
    <div>
        <div>
            <b>{{'StartTime' | translate}}</b>: {{song?.starttimeutcDate | date:'medium'}}
        </div>
    </div>
    <div>
        <div>
            <b>{{'StopTime' | translate}}</b>: {{song?.stoptimeutcDate | date:'medium'}}
        </div>
    </div>
</div>