<div *ngIf="program">
    <div class="details-header-text">
        <i (click)="close()" class="pi pi-chevron-left close-button clickable"></i>
        <img src={{program.programimage}} width="50" style="vertical-align:middle" />
        {{program.name}}: {{'ProgramDetailsAndEpisodes' |
        translate}}
    </div>
    <div>
        {{program.description}}
    </div>
    <div class="p-grid" style="width:100%">
        <span class="p-col-8">
            <span *ngIf="program.programcategory" class="category">
                <b>{{'Category' | translate}}</b>: {{getCategoryNameFromId(program.programcategory.id)}}
            </span>
        </span>
        <span class="p-col-4">
            <span *ngIf="!program.fav" class="clickable" (click)="onAddToFavorites(program.id, program.name)"><i
                    class="pi pi-star fav-but"></i>
            </span>
            <span *ngIf="program.fav" class="clickable" (click)="onRemoveFromFavorites(program.id, program.name)"><i
                    class="pi pi-star-fill yellow-fav"></i>
            </span>
        </span>
    </div>
    <hr>
    <app-episodes-table [episodes]="episodes" (onLoadLazy)="loadLazy($event)" [totalHits]="totalHits"
        [pageSize]="pageSize">
    </app-episodes-table>
    <div class="bottom-padding"></div>
</div>