.description-td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.prg-title {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fav-checkbox {
  vertical-align: middle;
}
