.yellow-fav {
  color: #cccc00;
  font-size: 2em;
  vertical-align: middle;
}

.fav-but {
  float: right;
  font-size: 2.5em;
}

.description-td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.prg-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fav-checkbox {
  vertical-align: middle;
}
