<div class="audio-wrapper">
    <div *ngIf="currentUrlToPlay" [ngClass]="{'scroll-left': isPlaying === true }" class="now-playing"
        (click)="onOpenDetails()">
        <span class="clickable">
            {{currentUrlToPlay}}
            {{this.prefixText}}<b>{{currentStation}}</b>
        </span>
    </div>
    <div class="audio-ctl-wrapper">
        <audio class="audio-ctl" controls id="audio" preload="auto" autoplay="false" (play)="onPlay()"
            (pause)="onPause()">
            <source src="{{currentUrlToPlay}}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
</div>
<ng-template #empty>
    <div class="now-playing">
        &nbsp;
    </div>
</ng-template>