<div class="audio-wrapper">
    <div *ngIf="currentUrlToPlay; else empty" class="now-playing">
        {{'NowPlaying' | translate}}: {{currentStation}}
    </div>
    <div class="audio-ctl-wrapper">
        <audio class="audio-ctl" controls id="audio" preload="auto" autoplay="false" (play)="onPlay()"
            (pause)="onPause()">
            <source src="{{currentUrlToPlay}}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
</div>
<ng-template #empty>
    <div class="now-playing">
        &nbsp;
    </div>
</ng-template>