.tab-bar > ul {
  list-style-type: none;
  padding: 0;
}

.tab-bar > ul > li {
  display: inline;
  a {
    padding: 10px;
  }
}

.content {
  padding-top: 110px;
}

.header {
  overflow: hidden;
  position: fixed;
  top: -8px;
  width: calc(100% - 16px);
  z-index: 1000;
  margin-left: 0px;
  background-color: white;
  opacity: 1;
  max-height: 130px;
  min-height: 130px;
}

.active {
  background-color: rgb(123, 149, 163);
  color: white;
}
