@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/themes/rhea/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeflex/primeflex.css';

* {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.p-datatable-tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.play-button {
  font-size: 2.5em;
  float: right;
  vertical-align: middle;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  display: block;
}

.details-button {
  font-size: 2.5em;
  float: right;
  vertical-align: middle;
}

.details-button-smaller {
  font-size: 1.5em;
}

.close-button {
  font-size: 2.5em;
  font-weight: bold;
}

.sidebar-content {
  overflow-y: scroll;
}

.p-sidebar-active {
  overflow-y: scroll;
}
