@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/themes/rhea/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeflex/primeflex.css';

* {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.p-datatable-tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.play-button {
  font-size: 2.5em;
  float: right;
  vertical-align: middle;
}

.clickable {
  cursor: pointer;
}

.sr-sidebar {
  width: 60% !important;
}

@media only screen and (max-width: 600px) {
  .clickable:hover {
    display: initial;
  }
  .sr-sidebar {
    width: 100% !important;
  }
  .channel-tag-line {
    display: none !important;
  }
  .channel-type {
    display: none !important;
  }
}

.details-button {
  font-size: 2.5em;
  float: right;
  vertical-align: middle;
}

.details-button-smaller {
  font-size: 1.5em;
}

.close-button {
  font-size: 2.5em;
  font-weight: bold;
  vertical-align: middle;
  padding-right: 10px;
}

.p-sidebar-active {
  overflow-y: scroll;
}

.details-header-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 20px !important;
}

.description-td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.yellow {
  color: #cccc00;
}

.yellow-fav {
  color: #cccc00;
  font-size: 2em;
  vertical-align: middle;
}

.fav-but {
  float: right;
  font-size: 2.5em;
}

.dd-label {
  padding-bottom: 10px;
}

.refresh-button {
  float: right;
  margin-right: 2px;
  height: 2em !important;
  width: 2em !important;
}

.episodes-img {
  float: left;
  margin: 5px;
}

.clear {
  clear: both;
}

td {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}
