@use './base.scss';
@import 'primeicons/primeicons.css';
//@import 'primeng/resources/themes/rhea/theme.css';
//@import 'primeng/resources/themes/nova/theme.css';
@import 'primeng/resources/themes/mira/theme.css';
@import 'primeng/resources/primeng.min.css';
@import 'primeflex/primeflex.css';

* {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.play-button {
  font-size: base.$iconsize;
}

.clickable {
  cursor: pointer;
}

.fav-but {
  font-size: base.$iconsize;
  margin-top: 0.2em;
}

.yellow-fav {
  @extend .fav-but;
  color: #cccc00;
}

.kw-input {
  max-width: 300px;
}

.fav-chk {
  max-width: 100px;
  margin-right: 10px;
  p-checkbox {
    margin-bottom: 5px;
  }
}

.min-title-column {
  min-width: 540px;
}

.schedule-time {
  margin-left: 0px;
}

@media only screen and (max-width: 960px) {
  .schedule-time {
    margin-left: 10px;
  }
  .clickable:hover {
    display: initial;
  }
  .sr-sidebar {
    width: 100% !important;
  }
  .channel-tag-line {
    display: none !important;
  }
  .channel-type {
    display: none !important;
  }
  .desc-col {
    border: none !important;
  }
  .min-title-column {
    min-width: 320px;
  }
  
}

.details-btn {
  font-size: base.$iconsize;
  margin-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.details-btn-sm {
  @extend .details-btn;
  font-size: base.$iconsize-sm;
}

.right {
  float: right;
}

.close-button {
  font-size: base.$iconsize;
  font-weight: bold;
  vertical-align: middle;
  padding-right: 10px;
}

.p-sidebar-active {
  overflow-y: scroll;
}

.details-header-text {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 20px !important;
}

.episode-details-header-text {
  @extend .details-header-text;
  padding-top: 20px;
}

.clear {
  clear: both;
}

.link-icon {
  margin-right: 10px;
  font-size: 0.8rem;
}

.bottom-padding {
  padding-bottom: 100px;
}

.onlycurrentandfuture-chk {
  padding: 10px;
}

.image-thumb {
  margin: 10px;
  width: 50px;
  vertical-align: middle;
}

.link-item {
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: underline;
}

.p-selectbutton > * {
  border-radius: 10px;
  margin: 5px;
}

.header {
  overflow: hidden;
  position: fixed;
  top: -8px;
  width: 100%;
  z-index: 1000;
  margin-left: -8px;
  background-color: var(--surface-50);
  opacity: 1;
  max-height: 60px;
  min-height: 60px;
  border-left-width: 8px;
  border-right-width: 8px;
  border-style: solid;
  border-color: var(--surface-50);
}

.description-td {
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}

.prg-title {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-wrapper {
  padding-left: 5px;
  padding-right: 5px;
}

